    <div class="col-md-12">
            <div class="card card-user">
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="form-group">
                        <label>Group ID:</label>
                        <input type="text" class="form-control" placeholder="Group ID" value="">
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="form-group">
                        <label>Artifact ID:</label>
                        <input type="text" class="form-control" placeholder="Artifact ID" value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="form-group">
                        <label>Version:</label>
                        <input type="text" class="form-control" placeholder="Version" value="">
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="form-group">
                        <label>Classifier:</label>
                        <input type="text" class="form-control" placeholder="Classifier" value="">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="update ml-auto mr-auto" style="text-align: center">
                      <button type="submit" class="btn btn-primary btn-round">Download Artifact</button>
                      <button type="submit" class="btn btn-primary btn-round">Archive & Download</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
<div class="col-md-12">
            <div class="card card-user">
              <div class="card-body" style="max-height: 605px; min-height: 0;min-height: 76px;">
                <div class="card-header">
                    Console:
                </div>
                <div class="card-header">
                    <pre id="log"></pre>
                </div>
              </div>
            </div>
          </div>