    <div class="col-md-12">
            <div class="card card-user">
              <div class="card-body" style="min-height: 168px">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Package Name</label>
                        <input type="text" class="form-control" placeholder="Package Name" value="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Package Version</label>
                        <input type="text" class="form-control" placeholder="Package Version" value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto" style="text-align: center">
                      <button type="submit" class="btn btn-primary btn-round">Download Package</button>
                      <button type="submit" class="btn btn-primary btn-round">Archive & Download</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
<div class="col-md-12">
            <div class="card card-user">
              <div class="card-body" style="max-height: 605px; min-height: 0;min-height: 76px;">
                <div class="card-header" id="outputdata">
                    Console:
                    <pre id="log"></pre>
                </div>
              </div>
            </div>
          </div>