<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../../../static/img/logo-small.png">
          </div>
        </a>
        <a href="/" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li id="npm">
            <a href="npm">
              <i class="nc-icon"><img src="../../../static/img/favicon-32x32.png"></i>
              <p>NPM</p>
            </a>
          </li>
          <li id="maven">
            <a href="maven">
              <i class="nc-icon"><img src="../../../static/img/maven.png"></i>
              <p>MAVEN</p>
            </a>
          </li>
          <li id="docker">
            <a href="docker">
              <i class="nc-icon"><img src="../../../static/img/docker.ico"></i>
              <p>DOCKER</p>
            </a>
          </li>
        </ul>
      </div>
</div>
</body>
</html>